body {
    font-family: 'Product Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background: #1b1a19;
    background-attachment: fixed;
    margin: 0;
    font-size: 1rem;
}

header {
    font-family: 'Product Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.10);
    width: 100vw;
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
    padding: 0px 8px 0px 20px;
    box-sizing: border-box;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
    direction: ltr;
    z-index: 1;
    position: fixed;
    top: 0;
}

#Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.3rem;
    color: white;
}

h1 span {
    color: #c1c1c1;
    font-weight: 100;
}

.material-symbols-rounded {
    font-size: 1.5rem;
    cursor: pointer;
}

#lang-selector {
    display: inherit;
    font-size: 0.8rem;
    color: white;
}

#lang {
    width: 90px;
}

select {
    text-align: center;
    border-radius: 6px;
    border: 0;
    font-family: inherit;
    background-color: transparent;
    color: white;
}

main {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 95vw;
    margin: 13vh 0 20vh;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: white;
}

#yearlabel {
    width: auto;
}

#BudgetBox {
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    margin: 0rem 0rem 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
    align-items: center;
    font-family: 'Product Sans', sans-serif;
}

#BudgetBox.sticky {
    position: fixed;
    top: 8vh;
    border-radius: 0;
    width: 100vw;
    z-index: 2;
}

#progressBar {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    transition: width 0.5s ease-in-out, background 0.5s ease-in-out;
    background-color: #005366;
}

.textContainer {
    display: flex;
    position: relative;
    padding: 8px 15px;
    flex-direction: column;
    justify-content: center;

}

#budgetContainer {
    align-items: flex-start;
}

.budgetLabel {
    margin: 3px 4px;
    color: white;
    font-weight: normal;
    font-size: 0.65em;
}

.budget {
    margin: 2px;
    color: white;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

#spentContainer {
    align-items: flex-end;
    display: none;
}

.placeholder {
    display: none;
    width: 85vw;
}

#entryForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    width: 90%;
    margin: 0rem 0rem 1rem;
    padding: 1.2rem 1.1rem;
    box-sizing: border-box;
}

.form-group label {
    width: 30%;
}

.form-group input {
    width: 55%;
}

input {
    margin: 0 5px 0 0;
    text-align: center;
    border-radius: 6px;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    font-family: inherit;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
}

#submit {
    background: linear-gradient(90deg, #006880 10.79%, #005366 87.08%);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1em;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
    margin: 1em 0em 0em;
}

#entrieswrapper {
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#entries {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    table-layout: auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0rem 0rem 1rem;
    text-align: center;
}

th,
td {
    padding: 8px;
}

th {
    font-weight: normal;
    background: #005366;
    color: white;
}

td {
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:first-child {
    font-size: 0.7em;
}

td:nth-child(2) {
    font-family: 'Amiri', serif;
    max-width: 80px;
    direction: rtl;
}

td:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#entries button {
    color: #c61d1d;
    margin: 0;
    padding: 3px 0px;
    background-color: rgba(255, 255, 255, 0.10);
}

#downloadButton {
    background-color: #2a464d;
    align-items: center;
    font-size: 0.8em;
    height: auto;
}

#downloadButton span {
    margin-right: 0.3em;
}

#downloadOptions {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    margin: 1em 0em 0em;
}

#downloadOptions button {
    background-color: #2a464d;
    margin: 0px 5px;
}

#deleteAllButton {
    background-color: #a11919;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    position: fixed;
    bottom: 2vh;
    z-index: -10;
}

#version {
    font-size: 0.4rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

#copyright {
    font-size: 0.3rem;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes rowFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.row-animate {
    animation-name: rowFadeIn;
    animation-duration: 0.5s;
}